@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Lora:ital,wght@0,400..700;1,400..700&family=Marcellus+SC&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";
:root {
  --main-gold: #e0b300;
  --main-green: #d1d1d186;
}

.cinzel{
  font-family: 'Cinzel', serif;
}

body {
  font-family: "Cinzel", serif;
  /* font-weight: bold; */
  margin: 0;
}

.custom-rays{
  position: absolute;
}

/* Small screens (≥640px) */
@media (min-width: 640px) {
  .topSales {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large screens (≥1024px) */
@media (min-width: 1024px) {
  .topSales {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Extra-large screens (≥1280px) */
@media (min-width: 1280px) {
  .topSales {
    grid-template-columns: repeat(4, 1fr);
  }
}

.custom-scroll-text {
  display: flex;
  justify-content: center;
  color: var(--main-gold); /* gold text */
  font-size: 6rem;
  font-family: "bilargy", serif;
  font-weight: bold;
}
