@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cinzel:wght@400..900&family=DM+Serif+Display:ital@0;1&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap");
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";
html,
body,
#root,
* {
  font-family: "Libre Baskerville", serif;
}

:root{
  --main-gold: #FFE100;
}

.bilargy{
  font-family: "bilargy", serif;
  letter-spacing: 0.2rem;
}

body{
  /* padding-left: 6rem;
  padding-right: 6rem; */
  margin: 0;
}


/* Small screens (≥640px) */
@media (min-width: 640px) {
  .topSales {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large screens (≥1024px) */
@media (min-width: 1024px) {
  .topSales {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Extra-large screens (≥1280px) */
@media (min-width: 1280px) {
  .topSales {
    grid-template-columns: repeat(4, 1fr);
  }
}


.custom-scroll-text {
  display: flex;
  justify-content: center;
  color: var(--main-gold);  /* gold text */
  font-size: 6rem;
  font-family: 'bilargy', serif;
  font-weight: bold;
}
