@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";
:root {
  --main-gold: #ffe100;
}

.bebas{
  font-family: "Bebas Neue", sans-serif;
}

body {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.15rem;
  /* font-weight: bold; */
  margin: 0;
}

/* Small screens (≥640px) */
@media (min-width: 640px) {
  .topSales {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large screens (≥1024px) */
@media (min-width: 1024px) {
  .topSales {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Extra-large screens (≥1280px) */
@media (min-width: 1280px) {
  .topSales {
    grid-template-columns: repeat(4, 1fr);
  }
}

.custom-scroll-text {
  display: flex;
  justify-content: center;
  color: var(--main-gold); /* gold text */
  font-size: 6rem;
  font-family: "bilargy", serif;
  font-weight: bold;
}
